<p id="notice"><%= notice %></p>

<h1>Listing Books</h1>

<table>
  <thead>
    <tr>
      <th>Book</th>
      <th>Lender</th>
      <th>Date due</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.full_name %></td>
        <td><%= book.lender_display %></td>
        <td><%= book.date_due %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed volutpat metus ac libero porta, eu convallis tellus ultrices. Sed eleifend purus nec ipsum tincidunt lacinia. Morbi laoreet sagittis odio, vel pretium ligula. Donec vulputate posuere tellus id ultrices. Nam condimentum mi ac metus sagittis, a tincidunt tellus aliquet. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque quis nulla orci. Cras id ex mattis massa suscipit ultricies. Phasellus nec finibus urna. Morbi vel enim eu purus suscipit feugiat fringilla ac lectus. Vestibulum a ante finibus, faucibus mi at, lacinia ipsum. Integer vitae justo dignissim, commodo ipsum id, scelerisque sapien.</p>

  <p class="special">Morbi pretium semper lorem. Curabitur hendrerit vel risus suscipit viverra. <span class="gold">Nullam hendrerit ligula vitae odio venenatis consequat.</span> Fusce semper at nibh dignissim fermentum. Proin eu pretium augue. In vulputate, tortor et molestie accumsan, tellus dui gravida metus, nec venenatis velit arcu eget libero. Proin id ex vel nisi efficitur condimentum sit amet non nulla.</p>

  <p>Quisque blandit lacus nec felis efficitur varius. Vivamus lacus elit, laoreet pellentesque orci id, sodales interdum quam. Morbi dapibus sagittis nibh at pretium. Fusce ut mattis lacus. Aliquam gravida risus et eleifend faucibus. Vivamus laoreet tortor quis est scelerisque pretium. <span class="red">Sed fermentum magna at tellus pellentesque imperdiet. Cras vehicula sapien eget commodo imperdiet. Nam condimentum elementum eleifend.</span> Integer fringilla, elit sed egestas lacinia, sapien felis interdum odio, vitae rhoncus libero ex vel tellus. Ut et efficitur purus. Curabitur porta, leo ullamcorper sollicitudin interdum, ligula quam elementum tortor, id fringilla nunc lorem mollis ex. Donec vitae volutpat risus, vitae fermentum lectus.</p>

  <p>Nullam tincidunt, ex sed sagittis vehicula, est justo molestie libero, nec dictum magna sapien id lectus. Sed eu rutrum mi, sed finibus lacus. Nulla placerat ante finibus ullamcorper feugiat. Nulla id gravida mi, non vestibulum mauris. Vestibulum semper lobortis orci eu commodo. Sed et venenatis diam. Duis dictum vitae ipsum a eleifend. Praesent sed commodo ante. Quisque pellentesque, mi eleifend pellentesque malesuada, lacus turpis luctus ex, et malesuada metus lacus sed velit. Suspendisse semper tellus ac lorem blandit, ac sagittis orci blandit. In rhoncus fringilla libero in tempus. Praesent maximus urna bibendum, iaculis urna accumsan, pellentesque velit. Ut lacus tortor, finibus eget quam non, maximus congue tortor.</p>

  <p class="special blue">Proin feugiat sem neque, sed efficitur arcu lobortis in. Ut et blandit diam. Duis fringilla viverra mi, sit amet viverra metus tristique eget. <span class="red">Cras placerat, massa a venenatis egestas, dui felis vulputate nisl, vel fringilla nulla dui non leo.</span> Ut vehicula placerat massa, in ultricies libero venenatis et. Donec facilisis, enim ac bibendum imperdiet, lorem augue luctus neque, eget iaculis sapien libero quis odio. Cras faucibus fringilla bibendum. Vivamus ut tempor risus. Suspendisse enim felis, condimentum vitae nisl at, sollicitudin hendrerit odio. Vivamus et risus cursus, elementum mi non, viverra ligula. Maecenas massa nunc, posuere sit amet libero eget, finibus feugiat arcu. Vivamus eget ante non augue tempor consectetur in nec urna. Aliquam feugiat vehicula enim, nec maximus nibh elementum vel.</p>
</div>

<br>

<%= link_to 'New Book', new_book_path %>
